/* border : 요소의 테두리 선을 지정하는 단축 속성
요소의 크기가 늘어나는 특징
*/
/* border : 선-두께 선-종류 선-색상 ; */
.container .item{
  width: 100px;
  height: 100px;
  background-color: orange;
}
.container .item:first-child{
  border: 10px solid red;
}
/* border-width 요소 테두리 선의 두께 */
/* border-style
  solid : 실선 (자주 사용)
  dashed : 파선 (자주 사용)
  dotted : 점선
  doubel : 두 줄 선
*/
.container .box{
  width: 100px;
  height: 100px;
  background-color: blue;
}
.container .box:last-child{
  border: 10px dotted red;
}
/* border-color 색상을 지정하는 단축 속성 */
/* 색상 표현
  색상 이름 : red, tomato, royalblue (브라우저에서 제공하는 색상 이름)
  Hex 색상 코드 : #000, #FFFFFF (16진수 색상)
  RGB : rgb(255, 255, 255) (빛의 삼원색)
  RGBA : rgba(0, 0, 0, 0.5) (빛의 삼원색 + 투명도)
*/